name = "xaostech-chat"
compatibility_date = "2025-12-31"
main = "src/index.js"
send_metrics = false

[env.production]
routes = [{ pattern = "chat.xaostech.io/*", zone_name = "xaostech.io" }]

[env.production.vars]
ENABLE_WEBSOCKET = "true"

[[env.production.kv_namespaces]]
binding = "MESSAGES_KV"
id = "${KV_MESSAGES_ID}"

[[env.production.r2_buckets]]
binding = "IMG"
bucket_name = "img"

[env.testing]
routes = [{ pattern = "chat.testing.local/*", zone_name = "localhost" }]

[env.testing.vars]
ENABLE_WEBSOCKET = "true"

