name = "xaostech-chat"
compatibility_date = "2025-12-31"
main = "dist/_worker.js/index.js"
send_metrics = false
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[env.production]
assets = { directory = "./public" }
name = "xaostech-chat"
main = "dist/_worker.js/index.js"
routes = [{ pattern = "chat.xaostech.io/*", zone_name = "xaostech.io" }]

[env.production.vars]
ENABLE_WEBSOCKET = "true"

[env.testing.vars]
ENABLE_WEBSOCKET = "true"

