name = "xaostech-chat"
compatibility_date = "2025-12-31"
main = "src/index.js"

[vars]
ENABLE_WEBSOCKET = "true"

[env.production]
routes = [{ pattern = "chat.xaostech.io/*", zone_name = "xaostech.io" }]

[[env.production.kv_namespaces]]
binding = "MESSAGES_KV"
namespace_id = "messages"

[env.production.vars]
ENABLE_WEBSOCKET = "true"
